.wufoo input.text {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
  background: none;
}


.wufoo input.text:focus { 
	outline:none; 
}

