@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

* {
  font-family: 'Karla', sans-serif;
}

.embed #container, form.wufoo {
  margin: 0;
  padding: 0;
}

.info[class] {
  display: none;
}

.embed form.wufoo {
  width: 704px;
  margin: 0 auto !important;
}

.wufoo {
  label.desc, legend.desc {
    line-height: 1;
    font-size: 13px;
    letter-spacing: 0;
    padding: 0 0 10px 0;
  }

  input.text, textarea.textarea {
    color: #333333;
    display: block;
    font-size: 12px;
    padding: 0 16px;
    background: #fff;
    background: none;
    font-weight: bold;
    letter-spacing: 0;
    border: 1px solid #B3B3B3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: #0356FF;
    }
  }

  input.text {
    height: 40px;
    line-height: normal;
  }

  textarea.textarea {
    resize: none;
    height: 100px;
    padding: 10px 16px;
  }

  span.symbol {
    line-height: 40px;
  }

  li.focused {
    background: none;
  }
}

form li {
  padding: 0 0 32px 0;

  &.buttons {
    padding: 0;
    margin-top: 24px;
    text-align: center;

    input {
      font-size: 12px;
      margin-right: 0;
      outline: none;

      &:focus {
        outline: none;
      }
    }
  }

  &.error {
    background: none !important;
  }
}

#errorMsg b {
  padding: 0;
  background: none !important;
}

#errorLi {
  border-radius: 0px;
}

input.btTxt {
  padding: 0;
  color: #fff;
  border: none;
  width: 200px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  background: #0356ff;
  border-radius: 30px;
  letter-spacing: 3px;
  display: inline-block;
  text-transform: uppercase;
  transition: background-color .25s ease-out, color .25s ease-out;

  &:hover, &:focus {
    color: #fff;
    outline: none;
    text-decoration: none;
    background-color: darken(#0356ff, 20%);
  }
}

input.btTxt::-moz-focus-inner {
  border: 0;
}

form li {
  &.rightHalf, &.leftHalf {
    width: 336px !important;
  }
}

// Hide success message button and wufoo logo container
.embed .confirm h2.freeHeading {
  font-family: 'Karla', sans-serif;
}

.embed .confirm a.start-cta,
.embed .confirm .logo-container,
.embed .confirm .create-message {
  display: none;
}
//  ends Hide success message....


@media (max-width: 700px) {
  .embed form.wufoo {
    width: auto;
  }

  form li {
    &.rightHalf, &.leftHalf {
      float: none;
      width: auto !important;
    }
  }
}
